<% if can? :manage, Kennedy::Post %>

<li class="dropdown<%= ' active' if %w(posts categories).include? controller_name %>">
  <%= link_to "Blog <span class='caret'></span>".html_safe, '', class: 'dropdown-toggle', data: {toggle: 'dropdown'} %>
  <ul class="dropdown-menu">
    <li><%= link_to "Posts", kennedy.posts_url %></li>
    <li><%= link_to "Categories", kennedy.categories_url %></li>
  </ul>
</li>

<% end -%>