<!DOCTYPE html>
<html>
<head>
  <title>Kennedy</title>
  <%= stylesheet_link_tag    "kennedy/application", :media => "all" %>
  <%= javascript_include_tag "kennedy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
